<%-include("partials/header")-%>

<div class="body">
    <div class="sideNav">
        <div class="noteCollection">
            <div class="noteCard">
                <div class="titleBox">
                    <h3 class="overflowHide"><%=title%></h3>
                    <p><%=noteDate%></p>
                </div>
                <div class="tagBox">
                    <%for(let i=0; i<tags.length; i++){%>
                        <%if(i==3) break; %>
                    <p class="tags overflowHide"><%=tags[i]%></p>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
    <div class="noteEditor">
        <div class="displayArea">
            <h1><%=title%></h1>
            <p><%=content%></p>
        </div>
    </div>
</div>

<%-include("partials/footer")-%>
