<%-include("partials/header")-%>

<div class="body">
    <div class="sideNav">
        <div class="noteCollection">

            <%notes.forEach((note)=>{%>
                <div class="noteCard">
                <div class="titleBox">
                    <h3 class="overflowHide"><%=note.title%></h3>
                    <p><%=note.date%></p>
                </div>
                <div class="tagBox">
                    <%for(let i=0; i<note.tags.length; i++){%>
                        <%if(i==3) break; %>
                    <p class="tags overflowHide"><%=note.tags[i]%></p>
                    <%}%>
                </div>
            </div>
            <%})%>

            


        </div>
    </div>
    <div class="noteEditor">
        <div class="displayArea">
            
        </div>
    </div>
</div>

<%-include("partials/footer")-%>
